---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio" description='GuitarLA, blog de música, ventas de guitarras y más'>
	<main>
		<h1>Hola mundo Astro</h1>
	</main>
</Layout>

<style>

</style>
