---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tienda Virtual" description='GuitarLA, ventas de guitarras y más'>
	<main class="contenedor">
		<h1 class="heading">Hola mundo Astro</h1>
	</main>
</Layout>

<style>

</style>
